# Node build artifacts
node_modules
npm-debug.log

# Local development
#*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

*.log
*.logs

#Pastas ignoradas
backup
tmp/uploads/*.jpeg
tmp/uploads/*.jpg
tmp/uploads/*.png
tmp/uploads/*.gif
tmp/uploads/*.tiff
tmp/uploads/*.pdf
tmp/uploads/*.*