.panel{
  min-width: 300px;
  max-width: 650px;

  min-height: 120px;

  background: #FBFBFD;

  border-radius: 16px;

  padding-top: 50px;
  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.panel h1{
  font-size: 2.8em;
  font-weight: normal;
  margin-bottom: 10px;
}

.panel p{
  font-size: 1.8em;
  margin-bottom: 20px;
}

.panel span{
  width: 300px;
  font-size: 1.5em;

  color: #666867;

  text-align: center;

  margin: 10px;

}

.panel span a{
  font-size: 1em;
  color: #666867;

  margin: 0;
  margin-left: 0.3em;
  margin-right: 0.3em;
}