.page{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.modal{
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  background: rgba(0,0,0,0.5);

  display: none;

  z-index: 1000;
}

.content{
  width: 100vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;

  padding-top: 20px;
  padding-left: 100px;
  padding-right: 80px;

}