
.view-item{
  width: 450px;
}

.view-item h4{
  color: #e79614;
  font-weight: lighter;
  margin-bottom: 20px;
}

.view-item p{
  color: #414a4e;
  font-weight: lighter;
  line-height: 1.5em;

  max-width: 350px;
}

.view-item p span{
  font-size: 1em;
  font-weight: bold;
}

.view-item button{
  width: auto;

  border: none;
  background-color: transparent;

  font-weight: lighter;

  margin: 0;

  padding-top: 0;
}

.view-item button:hover{
  color: #e79614;
  background-color: transparent;
}