
.view-form{
  width: 420px;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 40px;
}

.view-form h3{
  color: #414a4e;
}

.view-form button{
  width: 100%;
}