button{
  width: 100%;

  padding: 8px;
  padding-top: 16px;
  padding-bottom: 16px;

  cursor: pointer;

  border: none;
  border-radius: 24px;
  color: #fff;

  font-size: 2.2em;
  font-weight: normal;

  margin: 5px;
}

.primary-button{
  font-size: 2em;
  font-weight: normal;

  background: #e79614;
}

.primary-button, .primary-button-form:hover{
  background: #d88808;
}

.primary-button-form{
  width: 350px;
  font-size: 2em;
  font-weight: bolder;

  background: #e79614;
}

.secondary-button{
  font-size: 2em;
  font-weight: normal;

  background: #e5e7e6;
  color: #000;
}

.secondary-button:hover{
  background: #c9cccb;
}

.footer-button{
  width: 100%;
  height: 70px;

  font-size: 2em;
  font-weight: bolder;

  background: transparent;
  color: #000;

  border-top: 1px solid #d3d9d6;
  border-radius: 0;

  position: relative;
  bottom: -30px;

  margin: 0;

}

.btn-header{
  width: auto;
  max-width: 300px;
  height: 60px;

  background: none;

  font-size: 2em;
  font-weight: normal;

  border-radius: 60px;

  padding-left: 16px;
  padding-right: 16px;

  color: #000;

  margin: 0;
  margin-right: 10px;
}

.btn-header-sm{
  width: 32px;
  height: 32px;

  background: none;

  border-radius: 50%;

  color: #000;

  margin: 0;

  padding-top: 4px;
  padding-left: 4px;
  text-align: center;
}

.btn-header-active{
  width: auto;
  max-width: 300px;
  height: 60px;

  background: #000;

  font-size: 2em;
  font-weight: normal;

  border-radius: 60px;

  padding-left: 16px;
  padding-right: 16px;

  margin: 0;
  margin-right: 10px;
}

.btn-logo{
  width: 60px;
  height: 56px;

  background: none;

  border-radius: 50%;

  padding: 0;

  margin: 0;
  margin-right: 10px;
}

.btn-logo img{
  width: 46px;
}

.btn-avatar{
  width: 60px;
  height: 60px;

  border-radius: 50%;

  margin-right: 10px;

  background: none;

  padding: 0;
  padding-top: 5px;
}


.btn-header i img{
  width: 40px;
  height: 40px;

  border-radius: 50%;
  border: 2px solid #4b5558;

  margin: 0;
}

.btn-header-sm:hover, 
.btn-header:hover{
  background: rgba(196, 196, 196,.30);
}
