.item{
  width: 410px;
  height: 130px;

  margin-top: 20px;

  border-radius: 4px;
  border: none;

  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.1);

  background-color: #FBFBFD;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  cursor: pointer;
}

.item:hover{
  border: 1px solid #d3d9d6;
}