input{
  width: 100%;
  height: 60px;

  margin: 0;

  border-radius: 32px;
  border: 1px solid #a1aaae;

  cursor: pointer;

  padding-left: 25px;
  padding-right: 20px;

  font-size: 1.8em;

  caret-color: #e79614;

  font-weight: bold;
  color: #414a4e;
  
}

.input-box{
  width: 350px;
  height: 90px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.input-box span{
  width: 100%;

  margin: 0;

  text-align: left;

  color: #e8273b;
}

.input-box-header{
  width: 50%;
  height: 60px;
  
  margin-right: 10px;
}

.input-box-header input{
  width: 100%;
  height: 60px;

  background: rgba(196, 196, 196,.30);

  border: none;

  padding-left: 50px;

  font-weight: normal;
  color: #2e3538;

  position: relative;
  top: -28px;
}

.input-box-header input::placeholder{
  color: #4b5558;
}

.input-box-header .input-icon{
  position: relative;
  left: 20px;
  top: 15px;
}

input:focus{
  border: 2px solid #e79614;
}

.input-box-title{
  width: 100%;
  height: 90px;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
}

.input-box-title span{
  display: none;
}

.input-box-title input{
  width: 100%;
  height: 60px;

  margin: 0;

  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #a1aaae;

  padding-left: 0;

  font-size: 3.8em;

  font-weight: normal;

  background: transparent;
  
}

.input-box-title input:focus{
  border-bottom: 2px solid #a1aaae;
}

.input-box-body{
  width: 100%;
  height: 90px;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  align-items: flex-start;
}

.input-box-body span{
  display: none;
}

.input-box-body input{
  width: 100%;
  height: 60px;

  margin: 0;

  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #a1aaae;

  padding-left: 0;

  font-size: 2.4em;

  font-weight: normal;

  background: transparent;
}

.input-box-body input:focus{
  border-bottom: 2px solid #a1aaae;
}