.container{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.summary{
  width: 100%;
  height: 60px;

  color: #fff;

  padding-left: 40px;
  padding-right: 40px;

  font-weight: bold;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  background-color: #e79614;
}

.container ul{
  width: 100%;
  height: 100%;

  padding-top: 20px;
  padding-bottom: 160px;
  padding-left: 80px;
  padding-right: 80px;

  list-style-type: none;

  overflow: auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}